<!doctype html>
<html lang="en">
<%- include ("includes/header.ejs") %>
  <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <%- include ("includes/navbar.ejs") %>
      <section id="home">
        <div class="row">
          <div class="col-md-6 mx-auto mt-6 text-center">
            <h1 class="text-center pt-10">Admin Dash Board</h1>
            <a class="btn btn-success btn-lg mb-3" href="/listproducts/update" role="button">Update the Product</a>
            <a class="btn btn-danger btn-lg mb-3" href="/listproducts/delete" role="button">Delete the Product</a>
            <a class="btn btn-success btn-lg mb-3" href="/addproducts" role="button">Add Another Product</a>
          </div>
        </div>
       
      </section>

      <%- include ("includes/footer.ejs") %>
        <%- include ("includes/end.ejs") %>