<!doctype html>
<html lang="en">
<%- include ("includes/header.ejs") %>
    </head>

    <body>
        <%- include ("includes/navbar.ejs") %>
            <h1>Delete page</h1>

            <form action="/listproducts/delete" method="post">
                <div class="mb-3">
                    <label class="form-label">Enter the Product You Want to Delete</label>
                    <input type="text" class="form-control" name="deletedProduct" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-danger btn-lg mb-3">Delete</button>
            </form>
            <%- include ("includes/footer.ejs") %>
                <%- include ("includes/end.ejs") %>