<!doctype html>
<html lang="en">
<%- include ("includes/header.ejs") %>
<link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <%- include ("includes/navbar.ejs") %>
      <section id="home">
        <h1 class="text-center pt-10">Oopppsss Page not found!!!</h1>
      </section>

      <%- include ("includes/footer.ejs") %>
        <%- include ("includes/end.ejs") %>