<!doctype html>
<html lang="en">
<%- include ("includes/header.ejs") %>
  <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <%- include ("includes/navbar.ejs") %>
    <section id="home">
      <h1 class="text-center pt-10">Forget Password</h1>
      <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <form action="/forgetpassword" method="post" class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                <label for="email" class="sr-only">Email address</label>
                <p>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                </p>
                <label for="password" class="sr-only">Enter Your New Password</label>
                <p>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </p>
                <label for="password" class="sr-only">Confirm Password</label>
                <p>
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Password" required>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </section>

      <%- include ("includes/footer.ejs") %>
        <%- include ("includes/end.ejs") %>