<!doctype html>
<html lang="en">
<%- include ("includes/header.ejs") %>
<link rel="stylesheet" href="css/style.css">
  </head>

  <body>
   
    <%- include ("includes/navbar.ejs") %>
    <section id="home">
      <h1 class="text-center"> Welcome To the Home Page</h1>
      <h2 class="text-center"> Click on the Add Product in order to display the product on List Product</h2>
      <a href="/signup" class="home-btn btn btn-success btn-lg my-3">Sign UP</a>
      <a href="/signin" class="home-btn btn btn-success btn-lg my-3">Sign In</a>
    </section>
      <%- include ("includes/footer.ejs") %>
        <%- include ("includes/end.ejs") %>